body.modificacoes{
    background-color: #D6C0B4;
    font-family: 'Montserrat', sans-serif;
}

.primary-text {
    color: #32252C;
  }  
  .rounded-full {
    border-radius: 100%;
  }

  
  #wrapper {
    overflow-x: hidden;
  }
 #navbarDropdown
  {
    color: #32252C;
  }

#page-content-wrapper {
    min-width: 100vw;
  }
  #page-content-wrapper h2 {
    color: #32252C;
  }

  .list-group-item{
    border: none;
    padding: 20px 30px;
    color: #D6C0B4;
    background-color: transparent;
    font-weight: bold;
    
  }
  
  @media (min-width: 768px) {
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
  }