body.modificacoes{
    background-color: #32252C;
    font-family: 'Montserrat', sans-serif;
}



.cor-fundo{
    background-color: #9C1111;
}

.primary-text {
    color: #D6C0B4;
  }
  .navbar-nav > li > .dropdown-menu {   
      background-color: #32252C;
      border: none;
      }

      .navbar-nav > li > .dropdown-menu a{   
        color: #D6C0B4;
        }
  
  .rounded-full {
    border-radius: 100%;
  }

  .formata-link a
  {
    color: black;
  }
  
  .formata-link a:hover
  {
    color: grey;
  }

 #navbarDropdown
  {
    color: #D6C0B4;
    padding: 20px 20px;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  #page-content-wrapper h2 {
    color: #D6C0B4;
  }
  

  @media (min-width: 768px) {

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

  }