body.modificacoes{
    background-color: #D6C0B4;
    font-family: 'Montserrat', sans-serif;
}

.primary-text {
    color: #32252C;
  }  
  .rounded-full {
    border-radius: 100%;
  }

  .altera-link a
  {
    text-decoration: none;
  }

  .navbar-nav .dropdown-menu {
    background-color: #D6C0B4;
    color: #D6C0B4;
    border: none;
}

.navbar-nav .dropdown-menu:hover {
  background-color: #D6C0B4;
  color: #c5b1a6;
}

 
.navbar-nav .dropdown-menu a:hover {
  background-color: #D6C0B4;
  color: #9C1111;
}

  
  #wrapper {
    overflow-x: hidden;
  }
 #navbarDropdown
  {
    color: #32252C;
  }

#page-content-wrapper {
    min-width: 100vw;
  }
  #page-content-wrapper h2 {
    color: #32252C;
  }

  .altera-cor 
  {
    background-color: #32252C;
    color: #D6C0B4;
  }

  @media (min-width: 768px) {
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
  }