body {
  background-color: #32252c;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
h1 {
  font-size: 30px;

  font-weight: 400;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-weight: bold;
}
.form-label{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-weight: bold;
}
/* modal */

#modal-edita,
#modal-add,
#modal-excluir,
#modal-visu {
    display: none; 
   
    
  }

.modal, 
.modal2,
.modal3,
.modal4{
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  
}











.coluna-esquerda,
.coluna-direita {
  width: 100%;
}

.coluna-direita {
  width: 100%;
  height: 50%;
}
.coluna-esquerd {
  width: 60%;
  height: 100%;
}
.titulo {
  font-size: 30px;
  font-weight: bold;
}
input::placeholder {
  padding-left: 10px;
  color: #d6c0b4;
  font-size: 14px;
}
.conteudo {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}
.coluna-esquerd-item textarea {
  resize: vertical;
  width: 50%;
  height: 10%;
}

/* Posts/Editar */

.formulario {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.area-fundo-posts {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.area-posts {
  background-color: #d6c0b4;
  display: flex;
  align-items: center;
  width: 50%;
  height: 80%;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0px 10px 25px black;
  
}
.area-posts input {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  color: #32252c;
  background-color: #32252c;
  border: none;
  outline: none;
  border-radius: 8px;
}
.area-posts form {
  display: flex;
  width: 100%;
  align-items: center;
}
#exampleFormControlTextarea1 {
  height: 100%;
  width: 100%;
  color: #9c1111;
  background-color: #32252c;
  border: none;
  outline: none;
  border-radius: 8px;
  padding-left: 10px;
  margin-top: 20px;
}
.img {
  width: 100%;

  border-radius: 8px;
}
input[type="file"] {
  display: none;
}
#img {
  padding-top: 0px;
  height: 40px;
  width: 100%;
  background-color: #32252c;
  color: #d6c0b4;
  text-transform: uppercase;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  
}
#exampleFormControlTextarea1::placeholder {
  padding-left: 10px;
  color: #d6c0b4;
  font-size: 14px;
}

/* Excluir post */



.area-excluir {
  background-color: #d6c0b4;
  display: flex;
  align-items: center;
  width: 50%;
  height: 60%;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0px 10px 25px black;
}
.area-fundo-excluir {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.area-excluir form {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.area-excluir input {
  margin-top: 10px;
  height: 45px;
  width: 180%;
  color: #d6c0b4;
  background-color: #32252c;
  border: none;
  outline: none;
  border-radius: 8px;
}

/* Vizualizar posts */

.area-vizualizar {
  background-color: #d6c0b4;
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
  width: 50%;
  height: 80%;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0px 10px 25px black;
}
.area-fundo-vizualizar {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.texto2 {
  font-size: 20px;
}
.area-vizualizar form {
  display: flex;
  width: 100%;
  justify-content: center;
}
.area-vizualizar input {
  margin-top: 10px;
  height: 45px;
  width: 100%;
  color: #d6c0b4;
  background-color: #32252c;
  border: none;
  outline: none;
  border-radius: 8px;
}
.formulario-vizualizar {
  display: flex;
  width: 50%;
}

/* Botoes */

.btnVoltar:hover,
.btn:hover,
.btn2:hover{
  background: red;
}
.btnVoltarC:hover {
  background: red;
}
.btnVoltar {
  padding: 10px 8px;
  width: 60px;
  text-align: center;
  color: #d6c0b4;
  background: #9c1111;
  border: 1px solid #d6c0b4;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
}
.btnVoltarC {
  padding: 10px 8px;
  width: 120px;
  text-align: center;
  color: #d6c0b4;
  background: #9c1111;
  border: 1px solid #d6c0b4;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
}
.control-label{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-weight: bold;
}
.form-control{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-weight: bold;
}
.btnVoltarC {
  padding: 10px 8px;
  width: 120px;
  text-align: center;
  color: #d6c0b4;
  background: #9c1111;
  border: 1px solid #d6c0b4;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
}
.btn {
  padding: 10px 8px;
  width: 120px;
  text-align: center;
  color: #d6c0b4;
  background: #9c1111;
  border: 1px solid #d6c0b4;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
}
.btn2 {
  padding: 10px 8px;
  width: 120px;
  text-align: center;
  color: #d6c0b4;
  background: #9c1111;
  border: 1px solid #d6c0b4;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
}


@media (max-width: 1000px) {
  .data {
    font-size: 10px;
    font-weight: bold;
  }

  .formulario {
    height: 50%;
    width: 50%;
  }
  .coluna-esquerd {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    font-weight: bold;
  }
  .coluna-direita-item textarea {
    resize: vertical;
    width: 100%;
    height: 100%;
  }
  .area form,
  .area-excluir,
  .area-vizualizar {
    display: flex;
  }
  .area-posts {
    display: flex;
    align-items: center;
    width: 60%;
    height: 84%;
    flex-direction: column;
  }
  #exampleFormControlTextarea1::placeholder {
    padding-left: 1px;
    color: #9c1111;
    font-size: 14px;
  }
  #exampleFormControlTextarea1 {
    height: 70%;
    width: 100%;
  }
  #img {
    padding-top: 10px;
    height: 35px;
    width: 100%;
    background-color: #32252c;
    color: #d6c0b4;
    text-transform: revert;
    display: block;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
  }
  .img {
    width: 100%;
  }
  .titulo {
    font-size: 20px;
    font-weight: bold;
  }
  .area-excluir {
    width: 70%;
    height: 50%;
  }
  .area-vizualizar {
    background-color: #d6c0b4;
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    width: 40%;
    height: 80%;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0px 10px 25px black;


  }
}

@media (max-width: 469px) {
  .area-excluir {
    width: 100%;
  }
  .img {
    width: 100%;
  }
  h2 {
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-weight: bold;
  }
  .coluna-esquerd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .area-vizualizar {
    width: 100%;
    padding: 10px;
  }
  .coluna-esquerda {
    width: 100%;
  }
  .area-excluir {
    padding: 10px;
  }

  .btnVoltarC {
    padding: 10px 8px;
    width: 112px;
    text-align: center;
    color: #d6c0b4;
    background: #9c1111;
    border: 1px solid #d6c0b4;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    margin-top: 10px;
  }

  .data {
    font-size: 10px;
    font-weight: bold;
  }
}
