/* Vermelho: #9C1111
Marrom: #32252C
Branco: #D6C0B4 */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    /* color: #D6C0B4; */
    font-weight: bold;
}

body {
    width: 100%;
}

main{
    background-color: #D6C0B4 ; 
    overflow: hidden;  
}

#intro{
    /* display: flex;
    justify-content: left;
    align-items: center; */
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    margin: auto;
}

#intro img{
    width: 350px;
}

#imgIntro {
    margin-bottom: -15px;
}

#pIntro{
    font-size: 1.3em;
}

#h2intro{
    padding:35px;
    text-align: center;
    font-size: 1.4em;
}

h2{
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.4em;
    color: #9C1111;
    font-weight: bold;
}

.posts{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    margin: auto;
}


.pPost{
    font-size: 1em;
    padding-bottom: 70px;
    padding-left: 20px;
    overflow-wrap: break-word;
    width: 100%;
}

.imgPost img{
    width: 350px;
    border-radius: 5px;
}

.ler {
    padding-left: 15px;
    padding-right: 15px;
    /* text-align: right; */
    color: #D6C0B4;
    background: #9C1111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    box-shadow: 0px 0.5px 5px black;
    width: 100%;
}

.button a {
    padding-top: -10px;
    font-size: 15px;
    color: #D6C0B4;
    text-decoration: none;
    /* margin-right: 150px; */
    width: 100%;
}

.button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}


.aPost{
    text-align:end;
    margin-right: 10%;
    font-size: 1em;
    
}

.aPost a{
    color:#32252C;
}

.aPost a:hover{
    color:#9C1111;
}


.cor{
    background-color: #32252C;
    height: 2.5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

#listPost ol{
    padding-left: 50px;
    line-height: 40px;
    list-style: decimal;
}

#listPost a{
    text-decoration: none;
}

#listPost a:hover{
    text-decoration: underline;
}

#rs{
    text-align: center;
    padding-bottom: 30px;
}

#rs img{
        width: 50px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px black;
        box-sizing: border-box;
}

#rs img:hover{
    border: 2px solid #9C1111;
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    transition: 0.2s border .2s;
}


@media (max-width:1000px){

    p {
        font-size: 13px;
        text-align: justify;
    }

    #intro{
        flex-wrap: wrap;
        text-align: center;
    }

    #imgIntro{
        margin: auto;
    }

    #imgIntro img{
        width: 300px;
    }

    h2{
        font-size: 1.3em;
        padding-top: 20px;
    }

    .posts{
        flex-wrap: wrap;
        text-align: left;
        justify-content: center;
    }
    .imgPost img{
        width: 300px;
    }

    .pPost{  
        width: 100%;
        padding-left: 0px;
    }

    .aPost{
        margin-top: -60px;
        font-size: 1em;
    }

    .aPost a{
      text-decoration: underline;
    }

    #listPost{
        margin-bottom: 60px;
    }

    #listPost a{
        text-decoration: underline;
    }

    #small{
        font-size: 1.2em;
        }

        .button a {
            margin-right: 50px;
        /* margin-left: 119px; */
        }
    
}

@media (max-width: 650px){
    .button {
        flex-direction: column-reverse;
        margin: 0 auto;
        margin-top: 15px;
    }

    #imgIntro img {
        width: 200px;
    }
}

@media(max-width:280px){
    .imgPost img{
        width: 100%;
    }

    h2{
        font-size: 1.2em;
    }

    #imgIntro img{
        margin: auto;
        width: 150px;
    }

    #h2intro {

font-size: 1.2em;

padding: 35px 0;

}
    
    #rs img{
        width: 30px;
        margin: 3px;
        margin-bottom: 10px;
    }

    #listPost a{
        text-decoration: underline;
    }

    #small{
    font-size: 1em;
    }
    .button a {
        margin-right: 50px;
    /* margin-left: 119px; */
    }
    .ler {
    height: 100%;
    }

}