@charset "UTF-8";

body{
    background-color: #D6C0B4;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

table {
    /* background-color: #D6C0B4; */
    border-collapse: collapse;
    width: 500px;
    position: relative;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color:#32252C;
    color: #D6C0B4;
}

td,th{
    border: 1px solid black;
    padding: 10px;
}

thead{
    background-color: #32252C;
    color: #D6C0B4;
}

thead > tr > th{
    position: sticky;
    top: -1;
}

.table-box{
    overflow-x: auto;
    overflow-y: auto;
}

.option-button {
	background: #9C1111;
	color: #D6C0B4;
	font-weight: bold;
	font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    transition: 0.3s;
}
/* 
@media (max-width:1000px){

    .table-box{
        width: auto;
        margin: auto;
        padding: auto;
    }
} */