*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    overflow: hidden;
}


.campos{
    height: 100%;
    margin-top: 8%;
}

h4{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15%;
    padding-bottom: 10%;
}

.main{
    background-color: #32252C;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

form{
    height: 100%;
}
.texto h1{
    color: #32252C;
    text-align: center;
    padding-top: 4%;
    width: 400;
}

.area{
    
        background-color: #D6C0B4;
        height: 70%;
        width: 60%;
        border-radius: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding-bottom: 5%;
    
}



.form-bar{
    padding-left: 9%;
    margin-bottom: 18px;
    text-align: left;
}

#exampleFormControlInput1{
    width: 90%;
    height: 90%;
    background-color: #32252C ;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #D6C0B4;
    position: relative;
}

#exampleFormControlInput1::placeholder{
    padding-left: 1px;
    color: #D6C0B4;
    font-size: 14px;
}

.botao{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 20px;
}


.botaoo{
    height: 8%;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #D6C0B4;
    margin-top: 5%;
    left: 10%;
    top: 50%;
    transform: translate(-10%,-50%);
    background:#9C1111;
    margin-left: 10%;
}

    
.botoes{
    margin-left: 9%;
}

    @media screen and (max-width: 912px) {

    .area{
        height: 420px;
    }


    .botaoo{
        margin-top: 2%;
    }


    #exampleFormControlInput1{
        font-size: 1.7rem;
        line-height: 2.3;
    }
    #exampleFormControlInput1::placeholder{
        padding-left: 1px;
        color: #D6C0B4;
        font-size: 22px;
    }

}
    @media screen and (max-width: 768px) {
        .area{
            height: 65%;
        }

        
    }


    @media screen and (max-width: 540px) {
        .area{
            height: 70%;
        }
        .botaoo{
            font-size: 12px;
            height: 30px;
        }
        
    }

    @media screen and (max-width: 414px) {
        .area{
            height: 65%;
            width: 83%;
        }

        .botaoo{
        left: -2%;
        top: -32%;
        transform: translate(+2%,+32%);
        }
    }

    @media screen and (max-width: 375px) {
        .area{
            height: 70%;
        }

        .botaoo{
            width: 35%;
            margin-left: 10px;
        }
        
    }

    @media screen and (max-width: 280px){
        #exampleFormControlInput1::placeholder{
            padding-left: 1px;
            color: #D6C0B4;
            font-size: 16px;
        }

        #botaoo{
            font-size: 120%;
            height: 60px;
        }
    }
