*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.campos{
    height: auto;
    margin-top: 8%;
}

.main{
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.form-bar label {
    font-weight: bold;
    font-size: 20px;
}

/* modal visualizar */
.modal-excluir-user {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-visu-user {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.btn-voltar {
    width: 100%;
    margin: 0 auto;
}

.close {
    padding-top: 9px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    text-align: center;
    color: #D6C0B4;
    background: #9C1111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
}
/* FIM - modal visualizar */

h4{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 400;
    font-size: 25px;
}

/* form{
    height: 100%;
} */

.texto h1{
    margin-top: 20px;
    color: #32252C;
    text-align: center;
    width: 400;
    font-size: 30px;
    font-weight: bold;
}

.area, .area1{
        background-color: #D6C0B4;
        height: 70%;
        width: 50%;
        border-radius: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 0 50px;
}

.area1 {
    height: 36%;
    width: 35%;
}

.area-visualizar {
    height: 61%;
}

.form-bar{
    margin-bottom: 18px;
    text-align: left;
    width: 100%;
}

#exampleFormControlInput1{
    width: 100%;
    height: 90%;
    background-color: #32252C ;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #D6C0B4;
    position: relative;
    font-size: 18px;
    padding: 5px 0 5px 10px;
}

#exampleFormControlInput1::placeholder{
    padding-left: 1px;
    color: #D6C0B4;
    font-size: 14px;
}

.botao{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.botao2{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.btn2 {
    font-family: 'Montserrat', sans-serif;
    padding: 9px 7px;
    width: 120px;
    text-align: center;
    color: #d6c0b4;
    background: #9c1111;
    border: 1px solid #d6c0b4;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
}

.botoes_excluir_cancelar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.close{
   /* width: 21%;*/
    margin-left: 5px;
}


.botaoo{
    height: 8%;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #D6C0B4;
    margin-top: 5%;
    
    background:#9C1111;
    margin-left: 10%;
}

.botaoo2{
    height: 8%;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #D6C0B4;
    margin-top: 5%;
    
    background:#9C1111;
    margin-left: 10%;
}

 
.botoes{
    margin-left: 9%;
}

/* modal editar */

#modal-edit{
    display: none; 
  }

.modal-edition {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
    /* FIM - modal editar */
    #modal-add{
        display: none; 
      }
    .modal-addition {
        display: none; 
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.8);
    }

   @media (max-width: 1150px){
        .area1{
            height: 47%;
        }

        .area-visualizar {
            height: 65%;
        }
   }

    @media screen and (max-width: 912px) {

    .area{
        height: 480px;
        padding: 0 30px;
    }

    .area1 {
        height: 46%;
    }

    .area-visualizar {
        height: 61%;
    }

    .botaoo{
        margin-top: 2%;
    }

    .modal2{
        display: none; 
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
      
      }

      #modalExcluirUser{
        display: none; 
      }

    #exampleFormControlInput1::placeholder{
        padding-left: 1px;
        color: #D6C0B4;
        font-size: 22px;
    }
    


}

@media (max-width: 848px) {
    .area1{
        height: 48%;
    }
}

    @media screen and (max-width: 768px) {
        .area{
            height: 70%;
            width: 70%;
        }

        .area1{
            height: 42%;
        }

        .area-visualizar {
            height: 62%;
        }

        .form-bar {
            font-size: 18px;
        }

        .close {
            font-size: 13px;
        }
        
    }

    @media (max-width: 700px) {
        .area {
            width: 80%;
        }

        .area1 {
            height: 42%;
        }

        .area-visualizar {
            height: 58%;
        }


        .form-bar {
            font-size: 16px;
        }

        #exampleFormControlInput1 {
            font-size: 16px;
        }

        .close {
            font-size: 13px;
        }

        .btn2 {
            padding: 8px 6px;
            font-size: 16px;
        }
        
    }

    @media (max-width: 660px){
        .area{
            height: 65%;
        }

        .area1{
            height: 42%;
        }

        .area-visualizar {
            height: 59%;
        }
    }

    @media screen and (max-width: 540px) {
        .texto h1 {
            font-size: 27px;
        }
        .area{
            height: 62%;
            padding: 0 20px;
        }

        .area1 {
            height: 42%;
        }

        .area-visualizar {
            height: 55%;
        }

        #exampleFormControlInput1 {
            font-size: 13px;
        }

        .botaoo{
            font-size: 12px;
            height: 30px;
        }

        .btn2 {
            padding: 7px 6px;
            font-size: 14px;
        }
        
    }

    @media screen and (max-width: 414px) {
        .area{
            height: 59%;
            width: 83%;
        }

        .area1 {
            height: 31%;
        }

        .area-visualizar {
            height: 51%;
        }

        .texto h1 {
            font-size: 19px;
        }

        h4 {
            font-size: 18px;
        }

        .form-bar label {
            font-weight: bold;
            font-size: 18px;
        }

        .botaoo{
        left: -2%;
        top: -32%;
        transform: translate(+2%,+32%);
        }

        .btn2 {
            padding: 6px 6px;
            font-size: 13px;
        }
    }

    @media screen and (max-width: 375px) {
        .area{
            height: 57%;
            font-size: 20px;
        }

        .area1 {
            height: 33%;
        }

        .area-visualizar {
            height: 51%;
        }

        .texto h1 {
            font-size: 24px;
        }

        .form-bar{
            font-size: 14px;
        }

        .close {
            font-size: 12px;
            padding-left: 7px;
            padding-right: 7px;
            padding-bottom: 10px;
            padding-top: 6px;
            margin-top: 10px;
        }

        .botaoo{
            width: 35%;
            margin-left: 10px;
        }
        
    }

    @media screen and (max-width: 280px){
        .area{
            height: 52%;
            padding: 0 10px;
        }

        .area1{
            height: 34%;
        }

        .area-visualizar {
            height: 45.5%;
        }

        .form-bar {
            margin-bottom: 9px;
        }
        
        #exampleFormControlInput1::placeholder{
            padding-left: 1px;
            color: #D6C0B4;
            font-size: 16px;
        }

        .form-bar label {
            font-size: 16px;
        }

        #botaoo{
            font-size: 120%;
            height: 60px;
        }

        .texto h1 {
            font-size: 19px;
        }

        #exampleFormControlInput1 {
            font-size: 13px;
        }
    }