/* Lista de Posts */
/* Resetando o CSS */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #32252C;
}

.search-box {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 30%;
    left: 50%;
    height: 50px;
    padding: 0px 0 0px 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D6C0B4;

}

.search-text {
    width: 500px;
    border: none;
    background: none;
    outline: none;
    padding: 0 0 0 10px;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
}

.search-text::placeholder {
    color: #32252C;
}

.search-button {
    width: 50px;
    height: 50px;
    border-radius: 0 50% 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9C1111;
    font-size: 25px;
}

.main {
    align-content: center;
    margin: 25% 15% 5% 15%;
}

.miniatura {
    margin: 0 10% 5% 0;
    display: flex;
}

.miniatura h1 {
    font-size: 20px;
    display: block;
    margin-left: 20px;
}

.miniatura a {
    text-decoration: none;
    color: #9C1111;
    text-decoration: underline;
}

.miniatura span {
    font-size: 15px;
    color: #D6C0B4;
}

.link-img {
    width: 280px;
    height: 170px;
    display: inline-block;
}

.back-link {
    color: #9C1111;
}

@media (max-width: 1050px) {

body {
    display: block;
}

.search-box {
    max-width: 85%;
    top:28%;
    left: 50%;
    margin: 0 5% 0 0;
}

.main {
    margin-left: 16%;
    margin-bottom: 100px;
    margin-right: 0;
    margin-top: 300px;
}

.miniatura {
    display: block;
    line-height: 23px;
}

.miniatura a {
    text-decoration: none;
    font-weight: bold;
}

.miniatura h1 {
    margin-left: 0;
    margin-bottom: 60px;
    max-width: 90%;
    font-size: 18px;
    text-align: center;
}

.miniatura span {
    text-align: center;
    font-size: 14px;
}

.link-img {
    max-width: 90%;
    height: auto;
    width: auto;
}

}