
*{
    margin: 0;
    padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
}

.meio{
    background-color: #32252C;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-img{
    background-color: #32252C ;
    padding-top: 0;
    margin-bottom: 0;
}

.post{
    background-color: #32252C ;
    ;
    height: 30%;
    width: 100%;
    color: #D6C0B4;

}
.post h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    width: 400;
}

.post h3{
    text-align: center;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 13px;
}

.post-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #32252C;
    margin-bottom: 0px;

    
}


.post-img img{
    width: 60%;
    height: 80%; 
}

.descricao{
    background-color: #32252C;
    padding-bottom: 20px;
}
.descricao p{
    color: #D6C0B4;
    text-align: justify;
    font-weight: 100;
    margin-left: 20%;
    margin-right: 20%;
}

.botao a {position: fixed;
    left: 90%;
    right: -30%;
    top: 85%; 
    text-decoration: none;
}
 .botao img{
    
    height: 10%;
    width: 10%;
 }

.data{
    background-color: #32252C;
}

.data h6{
    margin-left: 1%;
    font-weight: 100;
    color: white;
}

 @media (max-width: 1000px) {


    .descricao p {
        text-align: left;
    }

    .botao a{
        height: 300px;
        width: 300px;
        left: 85%;
    }
}
