<!DOCTYPE html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../public/css/form_posts_styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
    rel="stylesheet">
  <title>Form_Editar</title>
</head>

<body class="area-fundo-posts">
  <section class="area-posts">
  
    <form class="formulario">
      <div class="coluna-esquerda">
        <h1>Editar Post</h1>
        <div class="coluna-esquerda-item mb-3" id="titulo">
          <br>
          <label for="exampleFormControlInput1" class="form-label">Título:</label>
          <br>
          <input class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="coluna-esquerda-item mb-3">
          <br>
          <label for="exampleFormControlInput1" class="form-label">Selecionar Imagem:</label>
          <br>
          <label for="arquivo" id="img">Enviar Arquivo</label>
          <input class="form-control" type="file" name="arquivo" id="arquivo">

        </div>


        <div class="coluna-esquerda-item mb-3" >
          <form method="post">

            <div class="form-group">
              <br>
              <label class="control-label" for="date">Data:</label>
              <br>
              <input type="date" id="txtDate" name="date">

            </div>

          </form>
        </div>

        <div class="coluna-esquerda-item mb-3">
          <br>
          <label for="exampleFormControlInput1" class="form-label">Conteúdo:</label>
          <br>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div>
          <button type="button" class="btnVoltarC">Cancelar</button>
          <button type="button" class="btnVoltarC">pu</button>
        </div>

        
    </div>

     

   
    
    
  
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
  </form>
</section>
</div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    </form>
  </section>

</body>

</html>