<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Posts</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>
<body>
    <div id="table-box">
        <table>
            <thead>
                <tr>
                    <td>TITULO</td>
                    <td>TEXTO</td>
                    <td>IMAGEM</td>
                    <td>OPÇÕES</td>
                </tr>
            </thead>
            <tr>
                <td>Você sabia?</td>
                <td>fulano91@gmail.com</td>
                <td>url?</td>
                <td><button type=""></button></td>
            </tr>
            <tr>
                <td>Ciclano</td>
                <td>ciclano32@gmail.com</td>
                <td>url?</td>
            </tr>
        </table>
    </div>
    
</body>
</html>