<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link rel="stylesheet" href="../../../public/css/listaUsuariosAdmin.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400" rel="stylesheet">

        <title>Lista de Usuários - Radiator Springs Gazette</title>
        <link rel="shortcut icon" href="../../../public/assets/logo_blog.jpg">
    </head>

    <body>
        <div class="table-box">
            <div>
                <h1 class="page-title">Lista de Usuários</h1>
                <button class="add-button" title="Adicionar novo usuário"><a href="#"></a><i class="fa-solid fa-user-plus"></i> Adicionar Usuário</a></button>
            </div>
            <table>
                <thead>
                    <tr class="table-line" class="table-title">
                        <td>#</td>
                        <td class="nome-cabecalho">NOME</td>
                        <td class="email-cabecalho">EMAIL</td>
                        <td>OPÇÕES</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-line animacao-linha">
                        <td>1</td>
                        <td class="email">Gabriel de Oliveira Vieira</td>
                        <td class="email">gabrieloliviera9768@gmail.com</td>
                        <td class="option-button">
                            <a href="#"><button class="icon-button" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <a href="#"><button class="icon-button" title="Visualizar"><i class="fa-solid fa-user"></i></i></button></a>
                            <a href="#"><button class="icon-button" title="Remover"><i class="fa-solid fa-trash"></i></button></a>
                        </td>
                    </tr>
                    <tr class="table-line animacao-linha">
                        <td>2</td>
                        <td class="email">Vanessa Epíndola Lima</td>
                        <td class="email">vane_el@gmail.com</td>
                        <td class="option-button">
                            <a href="#"><button class="icon-button" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <a href="#"><button class="icon-button" title="Visualizar"><i class="fa-solid fa-user"></i></i></button></a>
                            <a href="#"><button class="icon-button" title="Remover"><i class="fa-solid fa-trash"></i></button></a>
                        </td>
                    </tr>
                    <tr class="table-line animacao-linha">
                        <td>3</td>
                        <td class="email">Davi Guerra Sousa</td>
                        <td class="email">davi73737@gmail.com</td>
                        <td class="option-button">
                            <a href="#"><button class="icon-button" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <a href="#"><button class="icon-button" title="Visualizar"><i class="fa-solid fa-user"></i></i></button></a>
                            <a href="#"><button class="icon-button" title="Remover"><i class="fa-solid fa-trash"></i></button></a>
                        </td>
                    </tr>
                    <tr class="table-line animacao-linha">
                        <td>4</td>
                        <td class="email">Pamela Silva do Nascimento</td>
                        <td class="email">pamela_nasc@gmail.com</td>
                        <td class="option-button">
                            <a href="#"><button class="icon-button" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <a href="#"><button class="icon-button" title="Visualizar"><i class="fa-solid fa-user"></i></i></button></a>
                            <a href="#"><button class="icon-button" title="Remover"><i class="fa-solid fa-trash"></i></button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script type="text/javascript" src="../../../public/js/listaUsuariosAdmin.js"></script>
    <script src="https://kit.fontawesome.com/f9c72cff41.js" crossorigin="anonymous"></script>
</html>