<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link rel="stylesheet" href="../../../public/css/listaPostAdmin.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400" rel="stylesheet">
        <script type="text/javascript" src="../../../public/js/index.js"></script>

        <title>Lista de Posts - Radiator Springs Gazette</title>
        <link rel="shortcut icon" href="../../../public/assets/logo_blog.jpg">
    </head>

    <body>
        <div class="table-box">
            <div>
                <h1 class="page-title">Lista de Posts</h1>
                <a href="#"><button class="add-button" title="Adicionar novo usuário"><i class="fa-solid fa-file-circle-plus"></i> Adicionar Post</button></a>
            </div>
            <table>
                <thead>
                    <tr class="table-line" class="table-title">
                        <td>#</td>
                        <td class="nome-cabecalho">Título</td>
                        <td class="nome-cabecalho">Data</td>
                        <td>OPÇÕES</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-line animacao-linha">
                        <td>1</td>
                        <td class="texto">Você sabia?</td>
                        <td class="texto">15/09/2023</td>
                        <td class="option-button">
                            <a href="#"><button class="icon-button" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <a href="#"><button class="icon-button" title="Visualizar"><i class="fa-solid fa-file"></i></button></a>
                            <a href="#"><button class="icon-button" title="Remover"><i class="fa-solid fa-trash"></i></button></a>
                        </td>
                    </tr>
                    <tr class="table-line animacao-linha">
                        <td>2</td>
                        <td class="texto">Curiosidades</td>
                        <td class="texto">06/06/2023</td>
                        <td class="option-button">
                            <a href="#"><button class="icon-button" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <a href="#"><button class="icon-button" title="Visualizar"><i class="fa-solid fa-file"></i></button></a>
                            <a href="#"><button class="icon-button" title="Remover"><i class="fa-solid fa-trash"></i></button></a>
                        </td>
                    </tr>
                    <tr class="table-line animacao-linha">
                        <td>3</td>
                        <td class="texto">Você sabia?</td>
                        <td class="texto">30/01/2023</td>
                        <td class="option-button">
                            <a href="#"><button class="icon-button" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <a href="#"><button class="icon-button" title="Visualizar"><i class="fa-solid fa-file"></i></button></a>
                            <a href="#"><button class="icon-button" title="Remover"><i class="fa-solid fa-trash"></i></button></a>
                        </td>
                    </tr>
                    <tr class="table-line animacao-linha">
                        <td>4</td>
                        <td class="texto">Curiosidades</td>
                        <td class="texto">05/10/2023</td>
                        <td class="option-button">
                            <a href="#"><button class="icon-button" title="Editar"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <a href="#"><button class="icon-button" title="Visualizar"><i class="fa-solid fa-file"></i></button></a>
                            <a href="#"><button class="icon-button" title="Remover"><i class="fa-solid fa-trash"></i></button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script type="text/javascript" src="../../../public/js/index.js"></script>
    <script src="https://kit.fontawesome.com/f9c72cff41.js" crossorigin="anonymous"></script>
</html>