<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400" rel="stylesheet">
        <script type="text/javascript" src="../../../public/js/index.js"></script>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link rel="stylesheet" href="../../../public/css/listaPostAdmin.css" />
        <link rel="shortcut icon" href="../../../public/assets/logo_blog.jpg">
        <title>Lista de Posts - Radiator Springs Gazette</title>
    </head>

    <body>
        <div class="table-box">
            <div>
                <h1 class="page-title">Lista de Posts</h1>
                <a href="#"><button class="add-button"><i class="fa-sharp fa-solid fa-file-circle-plus"></i> Adicionar Post</button></a>
            </div>

            <table>
                <thead>
                    <tr class="table-title">
                        <td>#</td>
                        <td>Título</td>
                        <td>Data</td>
                        <td>Opções</td>
                    </tr>
                </thead>
                <tr class="table-line">
                    <td>1</td>
                    <td>Voce sabia?</td>           
                    <td>28/05/2023</td>

                    <td>
                        <a href="#"><button class="option-button"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        <a href="#"><button class="option-button"><i class="fa-sharp fa-solid fa-file-circle-plus"></i></button></a>
                        <a href="#"><button class="option-button"><i class="fa-solid fa-trash"></i></button></a>
                    </td>
                </tr>
                <tr class="table-line">
                    <td>2</td>
                    <td>Voce sabia?</td>      
                    <td>28/05/2023</td>


                    <td>
                        <a href="#"><button class="option-button"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        <a href="#"><button class="option-button"><i class="fa-sharp fa-solid fa-file-circle-plus"></i></button></a>
                        <a href="#"><button class="option-button"><i class="fa-solid fa-trash"></i></button></a>
                    </td>
                </tr>
                <tr class="table-line">
                    <td>3</td>
                    <td>Voce sabia?</td>
                    <td>28/05/2023</td>

                    <td>
                        <a href="#"><button class="option-button"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        <a href="#"><button class="option-button"><i class="fa-sharp fa-solid fa-file-circle-plus"></i></button></a>
                        <a href="#"><button class="option-button"><i class="fa-solid fa-trash"></i></button></a>
                    </td>
                </tr>
                <tr class="table-line">
                    <td>4</td>
                    <td>Voce sabia?</td>
                    <td>28/05/2023</td>

                    <td>
                        <a href="#"><button class="option-button"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        <a href="#"><button class="option-button"><i class="fa-sharp fa-solid fa-file-circle-plus"></i></button></a>
                        <a href="#"><button class="option-button"><i class="fa-solid fa-trash"></i></button></a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
    <script src="https://kit.fontawesome.com/f9c72cff41.js" crossorigin="anonymous"></script>
</html>