<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../../public/css/listaUsuariosAdmin.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400" rel="stylesheet">
        <script type="text/javascript" src="../../../public/js/index.js"></script>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">

        <title>Lista de Usuários - Radiator Springs Gazette</title>
        <link rel="shortcut icon" href="../../../public/assets/logo_blog.jpg">
    </head>

    <body>
        <div class="table-box">
            <input type="button" value="Adicionar" class="add-button">
            <table>
                <thead>
                    <tr>
                        <td>NOME</td>
                        <td>EMAIL</td>
                        <td>OPÇÕES</td>
                    </tr>
                </thead>
                <tr>
                    <td>Fulano</td>
                    <td>fulano91@gmail.com</td>
                    <td>
                        <input type="button" value="Editar" class="option-button">
                        <input type="button" value="Visualizar" class="option-button">
                        <input type="button" value="Remover" class="option-button">
                    </td>
                </tr>
                <tr>
                    <td>Ciclano</td>
                    <td>ciclano32@gmail.com</td>
                    <td>
                        <input type="button" value="Editar" class="option-button">
                        <input type="button" value="Visualizar" class="option-button">
                        <input type="button" value="Remover" class="option-button">
                    </td>
                </tr>
                <tr>
                    <td>Ciclano</td>
                    <td>ciclano32@gmail.com</td>
                    <td>
                        <input type="button" value="Editar" class="option-button">
                        <input type="button" value="Visualizar" class="option-button">
                        <input type="button" value="Remover" class="option-button">
                    </td>
                </tr>
                <tr>
                    <td>Fulano</td>
                    <td>fulano91@gmail.com</td>
                    <td>
                        <input type="button" value="Editar" class="option-button">
                        <input type="button" value="Visualizar" class="option-button">
                        <input type="button" value="Remover" class="option-button">
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>