<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Posts</title>
    <link rel="stylesheet" href="../../../public/css/listPost.css">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
      </style>
</head>

<body>
    <div class="table-box">
        <table>
            <caption>Lista de Posts   <input type="button" value="Adicionar" class="option-button"></caption>
            <thead>
                <tr>
                    <th>TITULO</th>
                    <th>TEXTO</th>
                    <th>IMAGEM</th>
                    <th>OPÇÕES </hd>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Você sabia?</td>

                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. A consequuntur temporibus, tempore maxime expedita sapiente perspiciatis quidem veniam qui ipsum, error tenetur esse soluta magni mollitia laboriosam, sunt id repellendus!</td>

                    <td>url?</td>

                    <td>
                        <input type="button" value="Editar" class="option-button">
                        <input type="button" value="Visualizar" class="option-button">
                        <input type="button" value="Remover" class="option-button">
                    </td>
                </tr>

                <tr>
                    <td>Curiosidades</td>

                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eaque ipsa libero dolor cum unde eveniet, itaque harum, totam exercitationem aliquam debitis modi, voluptatem repellat quae atque inventore consequatur perferendis!</td>

                    <td>url?</td>

                    <td>
                        <input type="button" value="Editar" class="option-button">
                        <input type="button" value="Visualizar" class="option-button">
                        <input type="button" value="Remover" class="option-button">
                    </td>
                </tr>

                <tr>
                    <td>Você sabia?</td>

                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. A consequuntur temporibus, tempore maxime expedita sapiente perspiciatis quidem veniam qui ipsum, error tenetur esse soluta magni mollitia laboriosam, sunt id repellendus!</td>

                    <td>url?</td>

                    <td>
                        <input type="button" value="Editar" class="option-button">
                        <input type="button" value="Visualizar" class="option-button">
                        <input type="button" value="Remover" class="option-button">
                    </td>
                </tr>

                <tr>
                    <td>Curiosidades</td>

                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eaque ipsa libero dolor cum unde eveniet, itaque harum, totam exercitationem aliquam debitis modi, voluptatem repellat quae atque inventore consequatur perferendis!</td>

                    <td>url?</td>

                    <td>
                        <input type="button" value="Editar" class="option-button">
                        <input type="button" value="Visualizar" class="option-button">
                        <input type="button" value="Remover" class="option-button">
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
</body>
</html>