<!DOCTYPE html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../public/css/form_posts_styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap"
    rel="stylesheet">
  <title>Form_vizualizar</title>
</head>

<body class="area-fundo-vizualizar">
  <section class="area-vizualizar">

    <form class="formulario-vizualizar">
      <div class="coluna-esquerd">
        
        <div class="coluna-esquerd-item mb-3" id="sla">
   
        </div>
        <h1>Título do Post</h1>
        <img src="../../../public/assets/relampago.jpg"   class="img" alt="imagem post">
        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis fuga in consectetur, et harum nobis commodi saepe placeat porro laboriosam ex? Molestiae beatae explicabo quisquam repellat ex ad dolorem.</p>

        <div class="coluna-esquerda-item mb-3" >
         
          <p class="data">Data: dd/mm/yyyy</p>

        </div>
      <button type="button" class="btn">Voltar</button>
      </div>
    </form>
  </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</html>