<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carros</title>
    <link rel="stylesheet" href="style.css">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
      </style>
  </head>
  <body>
<main>
  
  <h1>Descubra o mundo emocionante de suas Animações preferidas!</h1>
  
  <section id="posts">

      <div id="imgPost">
        <img src="img/carros.jpg" alt="intro" />
      </div>

      <div id="pPost">
        <h2>Você sabia?</h2>
        <p>
          Você sabia que o personagem Relâmpago McQueen foi originalmente planejado para ser um Corvette? No entanto, os designers da Disney-Pixar decidiram mudar para um carro de corrida genérico, a fim de criar um personagem mais icônico e reconhecível. Além disso, o número "95" na carroceria de Relâmpago McQueen é uma homenagem ao ano em que a primeira animação da Pixar, Toy Story, foi lançada - 1995.
        </p>
      </div>   

  </section>

<div class="cor"></div>
  
    <section id="posts">
      <div id="imgPost">
          <img src="img/msa.jpg" alt="imgSnp">
      </div>
      
      <div id="pPost">
        <h2>Easter EGG</h2>
        <p> Pizza Planet,uma pizzaria presente no filme Toy Story, também aparece em Monstros S.A.! A pizzaria é vista brevemente na cena Depois que o Randall entra de surpresa no trailer e toma uma surra daquela. Dá para ver o carro do lado esquerdo ao trailer.</p>
      </div>
    </section>


  <div class="cor"></div>


  <section id="curiosidades">
    <h2>As trilhas sonoras mais famosas da Disney </h2>
    <ol>
      <li>Os animadores de Carros fizeram mais de 43 mil designs de carros para o filme.</li>
      <li>O sobrenome do personagem Relâmpago McQueen foi uma homenagem a Glenn McQueen, animador da Pixar que faleceu em 2002.</li>
      <li>Os pneus do personagem Relâmpago McQueen tem a Lightyear como fabricante. Trata-se de uma brincadeira com a Goodyear, fabricante verídica de pneus, e também uma referência ao personagem Buzz Lightyear, de Toy Story - Um Mundo de Aventuras (1995).</li>
      <li>Por que Relâmpago McQueen usa o número 95 nas corridas? Cineastas escolheram esse número em referência a 1995, ano em que o primeiro filme da Pixar, Toy Story, foi lançado.</li>
    </ol>
  </section>

  <div class="cor"></div>

</main>


  </body>
</html>
