<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carros</title>
  </head>
  <body>
<main>
  
  <h1>Descubra o mundo emocionante de Carros da Disney!</h1>
  <div class="intro">
    <div>
      <img src="img/img-inicial.jpg" alt="intro" width="600px" />
    </div>
    <div>
      <p>
        Bem-vindo à nossa página dedicada ao filme Carros da Disney!
        Prepare-se para uma viagem emocionante ao mundo dos carros, onde a
        velocidade e a amizade andam juntas. Se você é um fã de animação e
        aventura, não pode perder essa oportunidade de explorar a história de
        Relâmpago McQueen e seus amigos em Radiator Springs.
      </p>
    </div>
  </div>

 

</main>


  </body>
</html>
