<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carros</title>
  </head>
  <body>
<main>
  
  <h1>Descubra o mundo emocionante de Carros da Disney!</h1>
  <div class="intro">
    <div>
      <img src="img/img-inicial.jpg" alt="intro" width="600px" />
    </div>
    <div>
      <p>
        Bem-vindo à nossa página dedicada ao filme Carros da Disney!
        Prepare-se para uma viagem emocionante ao mundo dos carros, onde a
        velocidade e a amizade andam juntas. Se você é um fã de animação e
        aventura, não pode perder essa oportunidade de explorar a história de
        Relâmpago McQueen e seus amigos em Radiator Springs.
      </p>
    </div>
  </div>

  <div class="trailer">
    <div>
        <img src="img/carro2.jpg" alt="snp" width="600px">
    </div>
    <div>
      <h2>Sinopse</h2>
      <p>Em Carros, conhecemos Relâmpago McQueen, um carro de corrida arrogante que acredita que vencer é a única coisa que importa. No entanto, depois de se perder em uma cidade esquecida chamada Radiator Springs, ele começa a aprender importantes lições sobre amizade, trabalho em equipe e humildade. Com a ajuda de seus novos amigos, incluindo o guincho Mater e a adorável Porsche Sally, Relâmpago McQueen descobre o verdadeiro significado de vencer.</p>
    </div>
  </div>

  <h2>Assista abaixo o Trailer do filme</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/n7ZbJk1qgks" title="trailerYoutube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen rel="0"></iframe>


  <h2>Pra você que já é fãn, temos algumas curiosidades que talvez você não saiba </h2>

</main>


  </body>
</html>
