<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Radiator Springs</title>
    <link rel="stylesheet" href="../../../public/css/landingP.css" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
    </style>
  </head>
  <body>
    <main>
      <section id="intro">
        <div id="imgIntro">
          <img src="../../../public/assets/img/img2_blog.png" alt="" />
        </div>
        <div id="pIntro">
          <p>
            As animações têm o poder de nos levar a mundos mágicos e
            encantadores, despertando nossa imaginação e fazendo-nos sentir
            emoções que muitas vezes não conseguimos explicar. <br />
            Neste blog, vamos explorar o mundo das animações e tudo o que o
            torna tão especial. Vamos discutir as últimas novidades em filmes de
            animação, as trilhas sonoras que nos fazem cantar e dançar, os
            personagens que amamos e odiamos, além de curiosidades e teorias que
            tornam esses filmes ainda mais fascinantes.
          </p>
        </div>
        <h2 id="h2intro">Confira abaixo nossos ultimos posts</h2>
      </section>

      <div class="cor"></div>

      <section id="posts">
        <div id="imgPost">
          <img src="../../../public/assets/img/carros.jpg" alt="" />
        </div>

        <div id="pPost">
          <h2>Você sabia?</h2>
          <p>
            Você sabia que o personagem Relâmpago McQueen foi originalmente
            planejado para ser um Corvette? No entanto, os designers da
            Disney-Pixar decidiram mudar para um carro de corrida genérico, a
            fim de criar um personagem mais icônico e reconhecível. Além disso,
            o número "95" na carroceria de Relâmpago McQueen é uma homenagem ao
            ano em que a primeira animação da Pixar, Toy Story, foi lançada -
            1995.
          </p>
        </div>
      </section>

      <div class="button">
        <a href="#"><button class="ler" title="Ler Post Completo">Ler Post Completo</button></a>
    </div>

      <div class="cor"></div>

      <section id="posts">
        <div id="imgPost">
          <img src="../../../public/assets/img/msa.jpg" alt="" />
        </div>

        <div id="pPost">
          <h2>Easter EGG</h2>
          <p>
            Pizza Planet,uma pizzaria presente no filme Toy Story, também
            aparece em Monstros S.A.! A pizzaria é vista brevemente na cena
            Depois que o Randall entra de surpresa no trailer e toma uma surra
            daquela. Dá para ver o carro do lado esquerdo ao trailer.
          </p>
        </div>
      </section>

      <div class="button">
        <a href="#"><button class="ler" title="Ler Post Completo">Ler Post Completo</button></a>
    </div>


      <div class="cor"></div>

      <section id="posts">
        <div id="imgPost">
          <img src="../../../public/assets/img/trilha.jpg" alt="" />
        </div>

        <div id="listPost">
          <h2>As 5 trilhas sonoras mais famosas da Disney</h2>
          <ol>
            <li>
              “<a href="https://youtu.be/rg_zwK_sSEY" target="_blank"
                >A Whole New World</a
              >”, a música-tema de Aladdin
            </li>
            <li>
              “<a
                href="https://www.youtube.com/watch?v=HSy3tE4HKsc"
                target="_blank"
                >When You Wish Upon a Star</a
              >”, a trilha inesquecível de Pinóquio
            </li>
            <li>
              "<a
                href="https://www.youtube.com/watch?v=0_USvdbYS1g"
                target="_blank"
                >Can You Feel the Love Tonight</a
              >", O Rei Leão e sua marcante canção
            </li>
            <li>
              "<a
                href="https://www.youtube.com/watch?v=O9MvdMqKvpU"
                target="_blank"
                >Color of the Wind</a
              >", a trilha de Pocahontas,
            </li>
            <li>
              “<a
                href="https://www.youtube.com/watch?v=FnpJBkAMk44"
                target="_blank"
                >Let It Go</a
              >”, o hino mundialmente conhecido com Frozen
            </li>
          </ol>
        </div>
      </section>

      <div class="button">
        <a href="#"><button class="ler" title="Ler Post Completo">Ler Post Completo</button></a>
    </div>


      <div class="cor"></div>

      <section id="posts">
        <div id="imgPost">
          <img src="../../../public/assets/img/Mulan-na-Disney.jpg" alt="" />
        </div>

        <div id="pPost">
          <h2>A Primeira Lenda Chinesa</h2>
          <p>
            Você sabia que o filme "Mulan" foi o primeiro filme da Disney a ser
            baseado em uma lenda chinesa? O filme conta a história da jovem
            Mulan, que se disfarça de homem para se juntar ao exército chinês e
            lutar contra os invasores hunos.
          </p>
        </div>
      </section>

      <div class="button">
        <a href="#"><button class="ler" title="Ler Post Completo">Ler Post Completo</button></a>
    </div>


      <div class="cor"></div>

      <section id="posts">
        <div id="imgPost">
          <img src="../../../public/assets/img/Pixarlogo.jpg" alt="" />
        </div>

        <div id="pPost">
          <h2>Teorias</h2>
          <p>
            Uma das teorias mais conhecidas e debatidas sobre os filmes da
            Disney é a "Teoria da Pixar", que sugere que todos os filmes da
            Pixar acontecem no mesmo universo compartilhado. A teoria afirma que
            cada filme da Pixar é conectado por meio de easter eggs, personagens
            e referências que aparecem em vários filmes.Além disso, a teoria
            sugere que a linha do tempo dos filmes da Pixar não é
            necessariamente cronológica, mas sim uma série de eventos
            interconectados que acontecem em diferentes momentos e lugares.
          </p>
        </div>
      </section>
      <div class="button">
        <a href="#"><button class="ler" title="Ler Post Completo">Ler Post Completo</button></a>
    </div>



      <div class="cor"></div>

      <h2 id="small">Acesse nosso Facebook</h2>
      <div id="rs">
        <a href="#" target="_blank">
          <img src="../../../public/assets/img/logo-facebook.jpg" alt="face"
        /></a>
        <!-- <a href="#" target="_blank">
          <img src="../../../public/assets/img/logo-instagram.jpg" alt="insta"
        /></a>
        <a href="#" target="_blank">
          <img src="../../../public/assets/img/logo-twitter.jpg" alt="twitter"
        /></a>
        <a href="#" target="_blank">
          <img src="../../../public/assets/img/logo-youtube.jpg" alt="yt"
        /></a> -->
      </div>
    </main>
  </body>
</html>
