<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../../public/css/listaPost.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400" rel="stylesheet">
        <script type="text/javascript" src="../../../public/js/index.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">

        <title>Posts - Radiator Springs Gazette</title>
        <link rel="shortcut icon" href="../../../public/assets/logo_blog.jpg">
    </head>

    <body>
        <div class="principal">
            <div class="search-box">
                <input class="search-text" type="text" placeholder="Pesquisar">
                <a class="search-button" href="#">
                    <ion-icon name="search"></ion-icon>
                </a>
            </div>

            <div class="main">
                <div class="miniatura">
                        <img class="link-img" src="../../../public/assets/post.jpg">
                    <div class="miniatura-text">
                        <h1>6 curiosidades sobre a animação Carros que você não sabia</h1>
                        <h2>Saiba mais sobre a divertida história do Universo Pixar, que traz Relâmpago McQueen e seus amigos em aventuras nas pistas</h2>
                        <div class="button">
                            <button class="ler" title="Ler Post Completo"><a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia"></a><i class="fa-solid fa-arrow-up-right-from-square"></i> Ler Post Completo</button>
                        </div>
                    </div>
                </div>

                <div class="miniatura">
                    <img class="link-img" src="../../../public/assets/post.jpg">
                    <div class="miniatura-text">
                        <h1>6 curiosidades sobre a animação Carros que você não sabia</h1>
                        <h2>Saiba mais sobre a divertida história do Universo Pixar, que traz Relâmpago McQueen e seus amigos em aventuras nas pistas</h2>
                        <div class="button">
                            <button class="ler" title="Ler Post Completo"><a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia"></a><i class="fa-solid fa-arrow-up-right-from-square"></i> Ler Post Completo</button>
                        </div>
                    </div>
                </div>

                <div class="miniatura">
                    <img class="link-img" src="../../../public/assets/post.jpg">
                    <div class="miniatura-text">
                        <h1>6 curiosidades sobre a animação Carros que você não sabia</h1>
                        <h2>Saiba mais sobre a divertida história do Universo Pixar, que traz Relâmpago McQueen e seus amigos em aventuras nas pistas</h2>
                        <div class="button">
                            <button class="ler" title="Ler Post Completo"><a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia"></a><i class="fa-solid fa-arrow-up-right-from-square"></i> Ler Post Completo</button>
                        </div>
                    </div>
                </div>

                <div class="miniatura">
                    <img class="link-img" src="../../../public/assets/post.jpg">
                    <div class="miniatura-text">
                        <h1>6 curiosidades sobre a animação Carros que você não sabia</h1>
                        <h2>Saiba mais sobre a divertida história do Universo Pixar, que traz Relâmpago McQueen e seus amigos em aventuras nas pistas</h2>
                        <div class="button">
                            <button class="ler" title="Ler Post Completo"><a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia"></a><i class="fa-solid fa-arrow-up-right-from-square"></i> Ler Post Completo</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class = "botao">
            <a href="#top"><i class="fa-solid fa-circle-arrow-up"></i></a>
        </div>
    </body>

    <script src="https://kit.fontawesome.com/f9c72cff41.js" crossorigin="anonymous"></script>

</html>