<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../../public/css/listaPost.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400" rel="stylesheet">
        <script type="text/javascript" src="../../../public/js/index.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">

        <title>Posts - Radiator Springs Gazette</title>
        <link rel="shortcut icon" href="../../../public/assets/logo_blog.jpg">
    </head>

    <body>
        <div class="principal">
            <div class="search-box">
                <input class="search-text" type="text" placeholder="Pesquisar">
                <a class="search-button" href="#">
                    <ion-icon name="search"></ion-icon>
                </a>
            </div>

            <div class="main">
                <div class="miniatura">
                    <a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia">
                        <img class="link-img" src="../../../public/assets/post.jpg">
                    </a>
                    <div class="miniatura-text">
                        <h1><a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia">6 curiosidades sobre a animação Carros que você não sabia</a></h1>
                        <h2>Saiba mais sobre a divertida história do Universo Pixar, que traz Relâmpago McQueen e seus amigos em aventuras nas pistas</h2>
                    </div>
                </div>

                <div class="miniatura">
                    <a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia">
                        <img class="link-img" src="../../../public/assets/post.jpg">
                    </a>
                    <div class="miniatura-text">
                        <h1><a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia">6 curiosidades sobre a animação Carros que você não sabia</a></h1>
                        <h2>Saiba mais sobre a divertida história do Universo Pixar, que traz Relâmpago McQueen e seus amigos em aventuras nas pistas</h2>
                    </div>
                </div>

                <div class="miniatura">
                    <a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia">
                        <img class="link-img" src="../../../public/assets/post.jpg">
                    </a>
                    <div class="miniatura-text">
                        <h1><a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia">6 curiosidades sobre a animação Carros que você não sabia</a></h1>
                        <h2>Saiba mais sobre a divertida história do Universo Pixar, que traz Relâmpago McQueen e seus amigos em aventuras nas pistas</h2>
                    </div>
                </div>

                <div class="miniatura">
                    <a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia">
                        <img class="link-img" src="../../../public/assets/post.jpg">
                    </a>
                    <div class="miniatura-text">
                        <h1><a href="https://www.disney.com.br/novidades/6-curiosidades-sobre-a-animacao-carros-que-voce-nao-sabia">6 curiosidades sobre a animação Carros que você não sabia</a></h1>
                        <h2>Saiba mais sobre a divertida história do Universo Pixar, que traz Relâmpago McQueen e seus amigos em aventuras nas pistas</h2>
                    </div>
                </div>

                <a class="back-link" href="lista-posts.html">&larr; Voltar ao início<a>
            </div>
        </div>
    </body>

</html>