<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Navbar e footer</title>

</head>

<body>
    
    <div class="navbar">
        <!-- <img src="/app/views/site/imagens/img1_blog.png" alt=""> -->

        <ul>
            <li>Página inicial</li>
            <li>Página de posts</li>
            <li>Página de Login</li>
        </ul>
    </div>
    


</body>

</html>