@charset "UTF-8";

/* Vermelho: #9C1111
Marrom: #32252C
Branco: #D6C0B4 */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #D6C0B4;
    font-weight: bold;
}


main{
    background-color: #32252C ;    
}

h1{
    font-size: 2em;
    padding:20px 0px 30px 30px;
    text-align: center;
    margin-bottom: 30px;
}

h2{
    padding-bottom: 15px;
    text-align: center;
}


#posts{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32252C ;
    width: 80%;
    margin: auto;
   
}


#pPost{
    font-size: 1.2em;
    padding-bottom: 70px;
    padding-left: 20px;
}

#imgPost img{
    width: 400px;
    border-radius: 5px;
}


.cor{
    background-color: #9C1111 ;
    height: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}


#curiosidades{
    background-color: #32252C;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 80%;
    margin: auto;
}


#curiosidades ol{
    padding-left: 50px;
    line-height: 40px;
    list-style: decimal;
}

#curiosidades a{
    text-decoration: none;
}

#curiosidades a:hover{
    text-decoration: underline;
}


@media (max-width:1000px){

    h1{
        font-size:1.5em;
        text-align: center;
    }
    #intro{
        flex-wrap: wrap;
        text-align: left;
    }
    #imgIntro img{
        width: 300px;
    }

    #pIntro{  
        width: 100%;
        padding-left: 0px;
    }

    #sinopse{
        flex-wrap: wrap;
        text-align: left;
    }

    #sinopse img{
        width: 300px;
    }

    #trailer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: auto;
        flex-wrap: wrap;
    }

    
}

@media(max-width:280px){
    #imgIntro img{
        width: 100%;
    }
    #sinopse img{
        width: 100%;
    }

}